body{
    padding:30px;
}

.form-label{
    float: left;
}

.nav-item {
    margin-left: 15px;
}




.col{
    width: 300px;
    height: 300px;
}

.card {
    height: 100%;
    overflow: hidden;
}

.card-text{
    overflow:hidden;
}


.colour1 {
    background-color: lightseagreen;
}
.colour2 {
    background-color: lightcoral;
}





a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}