body {
    padding: 30px;
}

.form-label {
    float: left;
}

.nav-item {
    margin-left: 15px;
}




.col {
    width: 300px;
    height: 300px;
}

.card {
    height: 100%;
    overflow: hidden;
}

.card {
    transform: scale(1);
    transition: 0.3s;
}

    .card:hover {
        transform: scale(1.1);
    }

.card-text {
    overflow: hidden;
}

#SearchForm{
    width:50%;
    margin: auto;
}

/*
.colour1 {
    background-color: lightseagreen;
}

.colour2 {
    background-color: lightcoral;
}


.color-radio-0{
    accent-color: lightgray;
}

.color-radio-1 {
    accent-color: lightseagreen;
}

.color-radio-2 {
    accent-color: lightcoral;
}
*/